VITE_BACKEND_URL=http://localhost:5000
VITE_CHAIN_ID=31337
VITE_NETWORK_NAME=Hardhat Local
VITE_RPC_URL=http://127.0.0.1:8545

# Sepolia example:
# VITE_CHAIN_ID=11155111
# VITE_NETWORK_NAME=Sepolia
# VITE_RPC_URL=https://sepolia.infura.io/v3/your_project_id
