PORT=5000
FRONTEND_URL=http://localhost:5173
HARDHAT_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=

# Sepolia example:
# HARDHAT_RPC_URL=https://sepolia.infura.io/v3/your_project_id
# CHAIN_ID=11155111

# Set this to use real Pinata IPFS. Leave empty to use local mock storage.
PINATA_JWT=
IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs
IPFS_BASE_URL=http://localhost:5000/ipfs

SEPOLIA_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/58iOOA2Qi54rBVsoGbqAX?fbclid=IwY2xjawR9W_lleHRuA2FlbQIxMABicmlkETFqV2ZDZmp5dGw3cUdqWHBGc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHiMuxirp-2fY79YJ3dL4g1kpL_v2QWL_WMknNpId45wtgG4rBCbJo1L4KoCq_aem_8W6NZovAt6sBdgbcCpo3mw
PRIVATE_KEY=your_wallet_private_key