PORT=5000
FRONTEND_URL=http://localhost:5173
HARDHAT_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=

# Set this to use real Pinata IPFS. Leave empty to use local mock storage.
PINATA_JWT=
IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs
IPFS_BASE_URL=http://localhost:5000/ipfs
